{%extends "bootstrap/base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Success!</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/thankyou.jpg" alt="" class="logo" />
    </br> 
      {% with messages = get_flashed_messages() %}
                              {% if messages %}
                             {% for message in messages %}
                               <div class="alert alert-success">
                                <strong>{{ message }}</strong>
                              </div>
                             {% endfor %}
                              {% endif %}
                            {% endwith %}
      <h2>Thanks for your contribution!</h2>
      <p><strong>Summary: </strong>You have annotated <ins>{{num_annotation}}</ins> sentences, compose of: </p>
      <p>   - <ins>{{num_unsentiment}}</ins> sentences have no sentiment </p>
      <p>   - <ins>{{num_neutral}}</ins> neutral dependency pair </p>
      <p>   - <ins>{{num_pos}}</ins> positive dependency pair </p>
      <p>   - <ins>{{num_negative}}</ins> negative dependency pair </p>
      <form method=POST action="{{ url_for('download') }}" class="form-group">
        <input type="submit" value="Download output file" onclick="myAnalyser()" class="btn btn-primary mb-2"> 
    </form>
    <form method=POST action="{{ url_for('restart') }}" class="form-group">
      <input type="submit" style="background-color:#d1974a" value="Go to home page" onclick="myAnalyser()" class="btn btn-primary mb-2"> 
    </form>
    </div>
  </body>

{% endblock %}